 <!-- Contact Section -->
 <div id="contact" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Contact</h2>
        <hr>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <div class="col-md-4"> <i class="fa fa-map-marker fa-2x"></i>
          <p>Tunis Ibn khaldoun city,<br>
          </p>
        </div>
        <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
          <p>barrymamadoucherif289@gmail.com</p>
        </div>
        <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
          <p> (+216) 50497916</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-8 col-md-offset-2">
        <h3>Leave me a message</h3>
       

        <div class="social">
          <ul>

            <li><a (click)="openLinkedinTab()"><i id="a" class="fa fa-linkedin"></i></a></li>
            <li><a (click)="openTwitterTab()"><i class="fa fa-twitter"></i></a></li>
            <li><a (click)="openGithubTab()"><i class="fa fa-github"></i></a></li>
            
              
          </ul>
        </div>
      </div>
    </div>
  </div> 