<!-- Portfolio Section -->
<div id="portfolio">
    <div class="container">
      <div class="section-title text-center center">
        <h2>Portfolio</h2>
        <hr>
      </div>

      <div class="row">
        <div class="portfolio-items">
          <div class="col-sm-6 col-md-3 col-lg-3 web">
            <div class="portfolio-item">
              <div class="hover-bg">
                <div class="hover-text">
                  <h4>EducationApp</h4>
                  <ul type="circle">
                   <small (click)="openEduTab()"> <i  class="fa fa-link"></i>Click To this Link</small>
                   <br><br>
                  <small> <i  class="fa fa-github"></i>source code</small> 
                </ul> 
                 </div>
                <img src="assets/img/portfolio/01-small.jpg" class="img-responsive" alt="Project Title"> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 app">
            <div class="portfolio-item">
              <div class="hover-bg">
                <div class="hover-text">
                  <h4>RestaurantApp</h4>
                  <ul type="circle">
                   <small (click)="openRestaurantTab()"> <i  class="fa fa-link"></i>Click To this Link</small>
                   <br><br>
                  <small> <i  class="fa fa-github"></i>source code</small> 
                </ul> 
              </div>
                <img src="assets/img/portfolio/02-small.jpg" class="img-responsive" alt="Project Title"></div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 web">
            <div class="portfolio-item">
              <div class="hover-bg"> 
                <div class="hover-text">
                  <h4>Engenering socity</h4>
                  <ul type="circle">
                   <small (click)="openMultiserviceTab()"> <i  class="fa fa-link"></i>Click To this Link</small>
                   <br><br>
                  <small> <i  class="fa fa-github"></i>source code</small> 
                </ul>
              </div>
                <img src="assets/img/portfolio/03-small.jpg" class="img-responsive" alt="Project Title"> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 web">
            <div class="portfolio-item">
              <div class="hover-bg">
                <div class="hover-text">
                  <h4>Second RestaurantApp</h4>
                  <ul type="circle">
                   <small (click)="openTabRestau()"> <i  class="fa fa-link"></i>Click To this Link</small>
                   <br><br>
                  <small> <i  class="fa fa-github"></i>source code</small> 
                </ul></div>
                <img src="assets/img/portfolio/04-small.jpg" class="img-responsive" alt="Project Title"> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 app">
            <div class="portfolio-item">
              <div class="hover-bg">
                <div class="hover-text">
                  <h4>BlogSiteApp</h4>
                  <ul type="circle">
                   <small (click)="openTabBlogSite()"> <i  class="fa fa-link"></i>Click To this Link</small>
                   <br><br>
                  <small> <i  class="fa fa-github"></i>source code</small> 
                </ul>
              </div>
                <img src="assets/img/portfolio/05-small.jpg" class="img-responsive" alt="Project Title"> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 branding">
            <div class="portfolio-item">
              <div class="hover-bg">
                <div class="hover-text">
                  <h4>Photography</h4>
                  <ul type="circle">
                   <small (click)="openTab()"> <i  class="fa fa-link"></i>Click To this Link</small>
                   <br><br>
                  <small> <i  class="fa fa-github"></i>source code</small> 
                </ul>
               </div>
                <img src="assets/img/portfolio/06-small.jpg" class="img-responsive" alt="Project Title">  </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 branding app">
            <div class="portfolio-item">
              <div class="hover-bg">
                <div class="hover-text">
                  <h4>EducationApp</h4>
                  <ul type="circle">
                   <small (click)="openEduTab()"> <i  class="fa fa-link"></i>Click To this Link</small>
                   <br><br>
                  <small> <i  class="fa fa-github"></i>source code</small> 
                </ul>
              </div>
                <img src="assets/img/portfolio/07-small.jpg" class="img-responsive" alt="Project Title"> </div>
            </div>
          </div>
          <div class="col-sm-6 col-md-3 col-lg-3 web">
            <div class="portfolio-item">
              <div class="hover-bg"> 
                <div class="hover-text">
                  <h4>EducationApp</h4>
                  <ul type="circle">
                   <small (click)="openEduTab()"> <i  class="fa fa-link"></i>Click To this Link</small>
                   <br><br>
                  <small> <i  class="fa fa-github"></i>source code</small> 
                </ul>
               </div>
                <img src="assets/img/portfolio/08-small.jpg" class="img-responsive" alt="Project Title"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
