<!-- About Section -->
<div id="about">
    <div class="container">
      <div class="section-title text-center center">
        <h2>About Me</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-12 text-center"><img id="av" src="assets/img/nouve/cherif1.jpg" class="img-responsive"></div>
        <div class="col-md-8 col-md-offset-2">
          <div class="about-text">
            <p> I am cherif barry. Towards the end of 2017, i started computer science courses at the faculty of sciences of tunis(FST),based in Tunisia.
              It didn't take a longtime to me to realize that web applications developpement is the domain that passionate me too much</p>
            <p> That passion is my source of motivation. I take all my developpement projects as a real challenge that must be taken up.</p>
                    <p>Of course that won't arrive without hard work</p>
            <p class="text-center"><a class="btn btn-primary" href="../../assets/CHERIF_BARRY_CV.pdf"><i class="fa fa-download"></i> Download Resume</a></p>
           
 
          </div>
        </div>
      </div>
    </div>
  </div>
