<!--skills Section -->
<!--skills Section -->
<div id="skills" class="text-center">
  <div class="container">
    <div class="section-title center">
      <h2>Skills</h2>
      <hr>
    </div>
<div class="table-responsive">
  <table class="table">
    <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
      <td>
            <div class="skill"> 
              <circle-progress *ngIf="showSpinner"
              [percent]="90"
              [radius]="60"
              [outerStrokeWidth]="7"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="2000"
            ></circle-progress>
              <h4>Angular</h4>
            </div>
        </td>
        <td>
            <div class="skill"> 
              <circle-progress *ngIf="showSpinner"
              [percent]="65"
              [radius]="60"
              [outerStrokeWidth]="7"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="2000"
            ></circle-progress>
              <h4>Spring Boot</h4>
            </div>
          </td>
          <td>
            <div class="skill"> 
              <circle-progress *ngIf="showSpinner"
              [percent]="70"
              [radius]="60"
              [outerStrokeWidth]="7"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="2000"
            ></circle-progress>
              <h4>Firebase</h4>
            </div>
          </td>
          <td>
            <div class="skill"> 
              <circle-progress *ngIf="showSpinner"
              [percent]="85"
              [radius]="60"
              [outerStrokeWidth]="7"
              [innerStrokeWidth]="3"
              [outerStrokeColor]="'#78C000'"
              [innerStrokeColor]="'#C7E596'"
              [animation]="true"
              [animationDuration]="2000"
            ></circle-progress>
              <h4>HTML5</h4>
            </div>
        </td>
        <td>
          <div class="skill"> 
            <circle-progress *ngIf="showSpinner"
            [percent]="35"
            [radius]="60"
            [outerStrokeWidth]="7"
            [innerStrokeWidth]="3"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="2000"
          ></circle-progress>
            <h4>CSS3</h4>
          </div>
        </td>
      </tr>
      <tr class="accordion-toggle collapsed" id="accordion1" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne">
     
         
            <td>
              <div class="skill"> 
                <circle-progress *ngIf="showSpinner"
                [percent]="70"
                [radius]="60"
                [outerStrokeWidth]="7"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="2000"
              ></circle-progress>
                <h4>SQL</h4>
              </div>
            </td>
            <td>
              <div class="skill"> 
                <circle-progress *ngIf="showSpinner"
                [percent]="45"
                [radius]="60"
                [outerStrokeWidth]="7"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="2000"
              ></circle-progress>
                <h4> UML</h4>
              </div>
            </td>
            <td>
              <div class="skill"> 
                <circle-progress *ngIf="showSpinner"
                [percent]="10"
                [radius]="60"
                [outerStrokeWidth]="7"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="2000"
              ></circle-progress>
                <h4>NodeJs</h4>
              </div>
            </td>
            <td>
              <div class="skill"> 
                <circle-progress *ngIf="showSpinner"
                [percent]="60"
                [radius]="60"
                [outerStrokeWidth]="7"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="2000"
              ></circle-progress>
                <h4>Boostrap</h4>
              </div>
            </td>
            <td>
              <div class="skill"> 
                <circle-progress *ngIf="showSpinner"
                [percent]="30"
                [radius]="60"
                [outerStrokeWidth]="7"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="2000"
              ></circle-progress>
                <h4> ReactJs</h4>
              </div>
            </td>
        </tr>
    </table>
  </div>
  </div>
</div>