<!-- Resume Section -->
<div id="resume" class="text-center">
    <div class="container">
      <div class="section-title center">
        <h2>Experience</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            <li>
              <div class="timeline-image">
                <h4>July 2020 <br>
                  - <br>
                  Present </h4>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Own works</h4>
                  <h4 class="subheading">Fullstack developper</h4>
                </div>
                <div class="timeline-body">
                  <p>During this period of time i learned IT and for now I am hardworking on them. You can see all my realisations in the "portfolio" section</p>
                </div>
              </div>
            </li>
            <li class="timeline-inverted">
              <div class="timeline-image">
                <h4>Jan 2020 <br>
                  - <br>
                  July 2020 </h4>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Internship</h4>
                  <h4 class="subheading">bachelor's degree certification project</h4>
                </div>
                <div class="timeline-body">
                  <p>Before being graduated, I had to develop a project. My project was about creating a blogsite in wich users can connect and perform things over the application.
                    the actions to be performed match to the kind of user(an administrator or simple user)
                  </p>
                </div>
              </div>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="section-title center">
        <h2>Education</h2>
        <hr>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul class="timeline">
            
            <!-- Education Section-->
            
            <li>
              <div class="timeline-image">
                <h4>Oct 2017 <br>
                  - <br>
                  Jan 2020 </h4>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Fac time</h4>
                  <h4 class="subheading">Faculty of Sciences of Tunis</h4>
                </div>
                <div class="timeline-body">
                  <p>Before to be situated on wich domain of computer sciences do I want to focus on, of course I had to have some basics.
                    During this period of time, I received intensive courses based on general concepts and knowledge in computer sciences.
                    Just after these courses, i decided to choose web applications developpement.
                  </p>
                </div>
              </div>
            </li>
            <li>
              <div class="timeline-image">
                <h4>Oct 2015 <br>
                  - <br>
                  july 2016 </h4>
              </div>
              <div class="timeline-panel">
                <div class="timeline-heading">
                  <h4>Mouctar Brada drame lycee</h4>
                  <h4 class="subheading">High School Degree</h4>
                </div>
                <div class="timeline-body">
                  <p class="text-muted">Mouctar Brada Drame lycee is in Guinea, a country situated in the west Africa. I did my scientific baccalaureat with a good mention and mark. I have had the greater mark in my city in this year</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
