<!-- Header -->
<header id="header">
    <div class="intro">
      <div class="container">
        <div class="row">
          <div class="intro-text">
            <h1>Hello, I'm <span class="name">Cherif Barry</span></h1>
            <p>frontend & backend developper</p> 
            </div>
        </div>
      </div> 
    </div>
  </header>
    <section id="progress">
        <div class="title">
              <h2>~ Project in progress ~</h2>
              
              <p>You can access to the project that I'm working on. You just have to click on the code icon to view it</p>
              
        </div> 

      <div class="row">
        <div class="col-xs-12 col-lg-12 col-ms-12 col-md 12"></div>
          <div class="icone">
            
            <i (click)="openLink()" class="fas fa-code"></i>
          </div>
      </div>
 
    </section> 